extends layout 
block content 
  - var files = files || []
  div 
    button
      a(href='/user/logout') logout
  h1 Hi #{user.username}!

  div 
    div
      span your files: 
      ul 
        each file in files
          li 
            span file.name
            button delete
            button download
            button select
    div 
      button upload
    