<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Log in</h1>
        <form>
            <section>
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname" autocomplete="username" required autofocus>
            </section>
            <section>
                <label for="pword">Password:</label>
                <input type="password" id="pword" name="pword" autocomplete="password" required>
            </section>
            <button type="submit">Log in</button>
        </form>
        <hr>
        <p>Don't have an account? <a href="/signup">Sign up!</a></p>
    </body>
</html>