<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <meta charset="utf-8">
</head>
<body>
<h1>
    Sign up
</h1>
<form method="POST" action="/user/signup">
    <section>
        <label for="uname">Usernmae:</label>
        <input id="uname" name="uname" type="text">
    </section>

    <section>
        <label for="pword">Password:</label>
        <input id="pword" name="pword" type="password">
    </section>
    
    <button type="submit">Submit</button>
</form>
</body>
</html>