extends layout.pug 

block content 
  h1 Create a new account
  form(method='POST' action='/user/signup')
    section 
      label(for='username') Username: 
      input#username(name='username' type='text' value=username)
    section   
      lable(for='password') Password: 
      input#password(name='password' type='password', value=password)
    button(type='submit') Sign up
  if errors 
    each error in errors 
      li=error.msg