@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-rotate {
  0% {
    background-color: #4f0094;
  }

  50% {
    background-color: #28004a;
  }

  100% {
    background-color: #4f0094;
  }
}

.bg-color-rotate {
  animation: color-rotate 10s infinite;
}
